<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./common/head') %>
        <title>
            <%= blog.title %>
        </title>
</head>
<style>
    .personal {
        display: flex;
    }

    .blog-body,
    #commentBox {
        white-space: pre-wrap;
        /* Preserve spacing and line breaks */
        word-wrap: break-word;
        /* Handle long words gracefully */
        /* font-family: inherit;
        Use the parent font style
        line-height: 1.6;
        Optional: Adjust readability */
    }

    #commentBox {
        position: relative;
        left: 70px;
        bottom: 23px;
    }

    h6 {
        padding: 0 15px;
    }
</style>

<body>
    <%- include('./common/navbar') %>

        <div class="container mt-4">
            <h1>
                <%=blog.title%>
            </h1>
            <img class="mt-4 mb-4" src="<%= blog.coverImageURL %>" alt="Blog Cover Image" width="700px">
            <div class="blog-body mt-4">
                <%= blog.body %>
            </div>
        </div>
        <div class="container" >
            <img style="padding:0 10px 0 80%;" src="<%= blog.createdBy.profileImageURL %>" height="50px">
            <%= blog.createdBy.name %>
        </div>

        <!-- Comments starts from here -->
         <div class="container mt-5 mb-5">
             <h1> Comments <%= comment.length %> </h1>
         </div>
        <% if (locals.user) { %>
            <div class="container mt-3">
                <form action="/blog/comment/<%=blog.id%>" method="post">
                    <div class="mb-3">
                        <input name="content" type="text" class="form-control" placeholder="Enter your comment">
                    </div>
                    <button type="submit" class="btn btn-success mb-5">Add Comment</button>
                </form>
            </div>
        <% } %>

        <% comment.forEach(comment => { %>
            <div class="container ">
                <div class="personal">
                    <img src="<%= comment.createdBy.profileImageURL %>" height="50px">
                    <h6>
                        <%= comment.createdBy.name %>
                    </h6>
                </div>
                <div id="commentBox"> <%= comment.content %>  </div>    <!--Dont format this-->
            </div>
        <% }) %>
        <%- include('./common/script') %>
</body>

</html>