<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./common/head') %>
    <title>Home Page</title>
</head>
<style>
  img {
    max-height: 200px;
  }
</style>
<body>
  <%- include('./common/navbar') %>

    <div class="container mt-3  row row-cols-4">
      <% blogs.forEach(blog=> { %>
        <div class="col">
          <div class="card col">
            <img src="<%= blog.coverImageURL %>" class="card-img-top anand">
            <div class="card-body">
              <h5 class="card-title">
                <%= blog.title %>
              </h5>

              <a href="/blog/<%=blog._id%>" class="btn btn-success">View</a>
            </div>
          </div>
        </div>
        <% }) %>
    </div>


    <%- include('./common/script') %>
</body>

</html>